pre.custom {
  background: #f8f8f8;
}

h1,
h2 {
  border-bottom: 2px solid #cecece;
  padding-bottom: 4px;
  margin-bottom: 12px;
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif !important;
}
 

mark{
    background-color: #f5e838 !important;
    color: #000;
}
 

html { 
    font-family: Quotes, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important;  
}